<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{pageTitle}}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Country</a></li>
              <li class="breadcrumb-item active">Blank Page</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Country</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <dx-data-grid 
                     [dataSource]="countries"
                     keyExpr="country_id"
                     class="table table-striped"
                     (onRowInserted)="addNewCountry($event)"
                     (onRowUpdated)="handleRowEdit($event)">          
            <dxo-toolbar>
                <dxi-item name="groupPanel"></dxi-item>
                <dxi-item location="after">
                    <dx-button
                        [text]="expanded ? 'Collapse All' : 'Expand All'"
                        [width]="136"
                        (onClick)="expanded = !expanded">
                    </dx-button>
                </dxi-item>
                <dxi-item name="addRowButton" showText="always" [title]="'Nuevo registro'"></dxi-item>
                <dxi-item name="exportButton"></dxi-item>
                <dxi-item name="columnChooserButton"></dxi-item>
                <dxi-item name="searchPanel"></dxi-item>
            </dxo-toolbar>
            <dxi-column dataField="country_id" [width]="100" [allowEditing]="false"></dxi-column>
            <dxi-column dataField="country" [allowEditing]="true">
              <dxi-validation-rule type="required"></dxi-validation-rule>
            </dxi-column>
            <dxi-column dataField="last_update" [width]="200" [allowEditing]="false"></dxi-column>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-search-panel [visible]="true"></dxo-search-panel>
            <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
            <dxo-editing
                    mode="popup"
                    [allowUpdating]="true"
                    [allowAdding]="true"
                    [useIcons]="true">
            </dxo-editing>
            <dxo-pager
                [showInfo]="true"
                infoText="Page #{0}. Total: {1} ({2} items)"
                [showNavigationButtons]="true">
           </dxo-pager>
          </dx-data-grid>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          Footer
        </div>
        <!-- /.card-footer-->
      </div>
      <!-- /.card -->
    </section>
    <!-- /.content -->
</div>
    <!-- /.content-wrapper -->
<!-- /.control-sidebar -->